In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [2]:
from sklearn.preprocessing import LabelEncoder,LabelBinarizer,MinMaxScaler,OneHotEncoder

In [39]:
act_train_data = pd.read_csv("data/act_train.csv",dtype={'people_id': np.str, 'activity_id': np.str, 'outcome': np.int8}, parse_dates=['date'])
act_test_data  = pd.read_csv("data/act_test.csv", dtype={'people_id': np.str, 'activity_id': np.str}, parse_dates=['date'])

In [4]:
people_data    = pd.read_csv("data/people.csv", dtype={'people_id': np.str, 'activity_id': np.str, 'char_38': np.int32}, parse_dates=['date'])

In [5]:
# people_data['date'].dt.year

In [6]:
act_train_data = act_train_data.drop('char_10', axis = 1)
act_test_data=act_test_data.drop('char_10',axis=1)

In [7]:
y_train = act_train_data.outcome
act_train_data = act_train_data.drop('outcome',axis=1)

In [40]:
train_num = act_train_data.shape[0]
test_activity_id = act_test_data['activity_id'].values

In [41]:
test_activity_id

array(['act1_249281', 'act2_230855', 'act1_240724', ..., 'act2_448830',
       'act2_450133', 'act2_847967'], dtype=object)

In [9]:
act_train_data.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data = pd.concat([act_train_data, act_test_data])

In [11]:
data = pd.merge(data, people_data, how='left',on='people_id').fillna('missing')

In [12]:
del act_train_data
del act_test_data
del people_data

In [13]:
data['year_x'] = data['date_x'].dt.year
data['month_x'] = data['date_x'].dt.month
data['day_x'] = data['date_x'].dt.day
data['isWeekend_x'] = data['date_x'].dt.weekday >= 5

In [14]:
data['year_y'] = data['date_y'].dt.year
data['month_y'] = data['date_y'].dt.month
data['day_y'] = data['date_y'].dt.day
data['isWeekend_y'] = data['date_y'].dt.weekday >= 5

In [15]:
# data['isWeekend_y']

In [16]:
data = data.drop('date_x', axis = 1)

In [17]:
data = data.drop('date_y', axis = 1)

In [18]:
data.columns

Index([u'people_id', u'activity_id', u'activity_category', u'char_1_x',
       u'char_2_x', u'char_3_x', u'char_4_x', u'char_5_x', u'char_6_x',
       u'char_7_x', u'char_8_x', u'char_9_x', u'char_1_y', u'group_1',
       u'char_2_y', u'char_3_y', u'char_4_y', u'char_5_y', u'char_6_y',
       u'char_7_y', u'char_8_y', u'char_9_y', u'char_10', u'char_11',
       u'char_12', u'char_13', u'char_14', u'char_15', u'char_16', u'char_17',
       u'char_18', u'char_19', u'char_20', u'char_21', u'char_22', u'char_23',
       u'char_24', u'char_25', u'char_26', u'char_27', u'char_28', u'char_29',
       u'char_30', u'char_31', u'char_32', u'char_33', u'char_34', u'char_35',
       u'char_36', u'char_37', u'char_38', u'year_x', u'month_x', u'day_x',
       u'isWeekend_x', u'year_y', u'month_y', u'day_y', u'isWeekend_y'],
      dtype='object')

In [19]:
data.head()

,people_id,activity_id,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_37,char_38,year_x,month_x,day_x,isWeekend_x,year_y,month_y,day_y,isWeekend_y
0,ppl_100,act2_1734928,type 4,missing,missing,missing,missing,missing,missing,missing,...,False,36,2023,8,26,True,2021,6,29,False
1,ppl_100,act2_2434093,type 2,missing,missing,missing,missing,missing,missing,missing,...,False,36,2022,9,27,False,2021,6,29,False
2,ppl_100,act2_3404049,type 2,missing,missing,missing,missing,missing,missing,missing,...,False,36,2022,9,27,False,2021,6,29,False
3,ppl_100,act2_3651215,type 2,missing,missing,missing,missing,missing,missing,missing,...,False,36,2023,8,4,False,2021,6,29,False
4,ppl_100,act2_4109017,type 2,missing,missing,missing,missing,missing,missing,missing,...,False,36,2023,8,26,True,2021,6,29,False

In [20]:
data = data.drop('activity_id', axis = 1)
data = data.drop('people_id', axis = 1)

In [21]:
columns = data.columns.tolist()

In [22]:
columns.remove('char_38')

In [23]:
for c in columns:
    data[c] = LabelEncoder().fit_transform(data[c].values)

In [24]:
data.head()

,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,char_8_x,char_9_x,...,char_37,char_38,year_x,month_x,day_x,isWeekend_x,year_y,month_y,day_y,isWeekend_y
0,3,0,0,0,0,0,0,0,0,0,...,0,36,1,7,25,1,1,5,28,0
1,1,0,0,0,0,0,0,0,0,0,...,0,36,0,8,26,0,1,5,28,0
2,1,0,0,0,0,0,0,0,0,0,...,0,36,0,8,26,0,1,5,28,0
3,1,0,0,0,0,0,0,0,0,0,...,0,36,1,7,3,0,1,5,28,0
4,1,0,0,0,0,0,0,0,0,0,...,0,36,1,7,25,1,1,5,28,0

In [25]:
categorical=['group_1','activity_category','char_1_x','char_2_x','char_3_x','char_4_x','char_5_x','char_6_x','char_7_x','char_8_x','char_9_x','char_2_y','char_3_y','char_4_y','char_5_y','char_6_y','char_7_y','char_8_y','char_9_y']
not_categorical=[]
for category in data.columns:
    if category not in categorical:
        not_categorical.append(category)

In [26]:
enc = OneHotEncoder(handle_unknown='ignore')
enc = enc.fit(data[categorical])

In [27]:
train_cat_sparse = enc.transform(data[:train_num][categorical])
test_cat_sparse = enc.transform(data[train_num :][categorical])

In [28]:
test_cat_sparse.shape

(498687, 34527)

In [29]:
from scipy.sparse import hstack
train_sparse = hstack((data[:train_num][not_categorical],  train_cat_sparse))
test_sparse = hstack((data[train_num :][not_categorical], test_cat_sparse))

In [30]:
train_sparse.shape

(2197291, 34565)

In [31]:
del data

In [32]:
y_train

0          0
1          0
2          0
3          0
4          0
5          0
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
2197261    1
2197262    1
2197263    1
2197264    1
2197265    1
2197266    1
2197267    1
2197268    1
2197269    1
2197270    1
2197271    1
2197272    1
2197273    1
2197274    1
2197275    1
2197276    1
2197277    1
2197278    1
2197279    1
2197280    1
2197281    1
2197282    1
2197283    1
2197284    1
2197285    1
2197286    1
2197287    1
2197288    1
2197289    1
2197290    1
Name: outcome, dtype: int8

In [33]:
dtrain = xgb.DMatrix(train_sparse, label=y_train)

In [34]:
dtest = xgb.DMatrix(test_sparse)

In [35]:
del train_sparse
del test_sparse

In [36]:
param = {'max_depth':10, 'eta':0.02, 'silent':1, 'objective':'binary:logistic' }
param['nthread'] = 4
param['eval_metric'] = 'auc'
param['subsample'] = 0.7
param['colsample_bytree']= 0.7
param['min_child_weight'] = 0
param['booster'] = "gblinear"

In [37]:
watchlist  = [(dtrain,'train')]
num_round = 300
early_stopping_rounds=10
bst = xgb.train(param, dtrain, num_round, watchlist,early_stopping_rounds=early_stopping_rounds)

[0]	train-auc:0.887743
Will train until train-auc hasn't improved in 10 rounds.
[1]	train-auc:0.895468
[2]	train-auc:0.903455
[3]	train-auc:0.911746
[4]	train-auc:0.91998
[5]	train-auc:0.927868
[6]	train-auc:0.935187
[7]	train-auc:0.941903
[8]	train-auc:0.948173
[9]	train-auc:0.953991
[10]	train-auc:0.959337
[11]	train-auc:0.964184
[12]	train-auc:0.968493
[13]	train-auc:0.972264
[14]	train-auc:0.975512
[15]	train-auc:0.978281
[16]	train-auc:0.980623
[17]	train-auc:0.982597
[18]	train-auc:0.984245
[19]	train-auc:0.985618
[20]	train-auc:0.98677
[21]	train-auc:0.987743
[22]	train-auc:0.988564
[23]	train-auc:0.989268
[24]	train-auc:0.989879
[25]	train-auc:0.990414
[26]	train-auc:0.990889
[27]	train-auc:0.991313
[28]	train-auc:0.991695
[29]	train-auc:0.992041
[30]	train-auc:0.992355
[31]	train-auc:0.992643
[32]	train-auc:0.992908
[33]	train-auc:0.993151
[34]	train-auc:0.993375
[35]	train-auc:0.993582
[36]	train-auc:0.993774
[37]	train-auc:0.993952
[38]	train-auc:0.994119
[39]	train-auc:0.994274
[40]	train-auc:0.99442
[41]	train-auc:0.994556
[42]	train-auc:0.994685
[43]	train-auc:0.994806
[44]	train-auc:0.99492
[45]	train-auc:0.995027
[46]	train-auc:0.995129
[47]	train-auc:0.995225
[48]	train-auc:0.995317
[49]	train-auc:0.995403
[50]	train-auc:0.995485
[51]	train-auc:0.995563
[52]	train-auc:0.995637
[53]	train-auc:0.995707
[54]	train-auc:0.995773
[55]	train-auc:0.995837
[56]	train-auc:0.995898
[57]	train-auc:0.995955
[58]	train-auc:0.99601
[59]	train-auc:0.996063
[60]	train-auc:0.996113
[61]	train-auc:0.996161
[62]	train-auc:0.996207
[63]	train-auc:0.996251
[64]	train-auc:0.996292
[65]	train-auc:0.996332
[66]	train-auc:0.996371
[67]	train-auc:0.996408
[68]	train-auc:0.996443
[69]	train-auc:0.996477
[70]	train-auc:0.996509
[71]	train-auc:0.99654
[72]	train-auc:0.99657
[73]	train-auc:0.996598
[74]	train-auc:0.996625
[75]	train-auc:0.996651
[76]	train-auc:0.996676
[77]	train-auc:0.9967
[78]	train-auc:0.996724
[79]	train-auc:0.996746
[80]	train-auc:0.996767
[81]	train-auc:0.996788
[82]	train-auc:0.996808
[83]	train-auc:0.996826
[84]	train-auc:0.996844
[85]	train-auc:0.996862
[86]	train-auc:0.996878
[87]	train-auc:0.996894
[88]	train-auc:0.99691
[89]	train-auc:0.996924
[90]	train-auc:0.996938
[91]	train-auc:0.996952
[92]	train-auc:0.996965
[93]	train-auc:0.996977
[94]	train-auc:0.996989
[95]	train-auc:0.997
[96]	train-auc:0.997011
[97]	train-auc:0.997021
[98]	train-auc:0.997031
[99]	train-auc:0.99704
[100]	train-auc:0.997049
[101]	train-auc:0.997058
[102]	train-auc:0.997066
[103]	train-auc:0.997075
[104]	train-auc:0.997082
[105]	train-auc:0.99709
[106]	train-auc:0.997097
[107]	train-auc:0.997104
[108]	train-auc:0.99711
[109]	train-auc:0.997117
[110]	train-auc:0.997123
[111]	train-auc:0.997129
[112]	train-auc:0.997135
[113]	train-auc:0.99714
[114]	train-auc:0.997146
[115]	train-auc:0.997151
[116]	train-auc:0.997156
[117]	train-auc:0.997161
[118]	train-auc:0.997165
[119]	train-auc:0.99717
[120]	train-auc:0.997174
[121]	train-auc:0.997178
[122]	train-auc:0.997182
[123]	train-auc:0.997186
[124]	train-auc:0.99719
[125]	train-auc:0.997194
[126]	train-auc:0.997197
[127]	train-auc:0.997201
[128]	train-auc:0.997204
[129]	train-auc:0.997207
[130]	train-auc:0.99721
[131]	train-auc:0.997213
[132]	train-auc:0.997216
[133]	train-auc:0.997219
[134]	train-auc:0.997222
[135]	train-auc:0.997225
[136]	train-auc:0.997227
[137]	train-auc:0.99723
[138]	train-auc:0.997232
[139]	train-auc:0.997235
[140]	train-auc:0.997237
[141]	train-auc:0.997239
[142]	train-auc:0.997241
[143]	train-auc:0.997243
[144]	train-auc:0.997245
[145]	train-auc:0.997247
[146]	train-auc:0.997249
[147]	train-auc:0.997251
[148]	train-auc:0.997253
[149]	train-auc:0.997255
[150]	train-auc:0.997256
[151]	train-auc:0.997258
[152]	train-auc:0.997259
[153]	train-auc:0.997261
[154]	train-auc:0.997262
[155]	train-auc:0.997264
[156]	train-auc:0.997265
[157]	train-auc:0.997267
[158]	train-auc:0.997268
[159]	train-auc:0.997269
[160]	train-auc:0.997271
[161]	train-auc:0.997272
[162]	train-auc:0.997273
[163]	train-auc:0.997274
[164]	train-auc:0.997275
[165]	train-auc:0.997276
[166]	train-auc:0.997277
[167]	train-auc:0.997278
[168]	train-auc:0.997279
[169]	train-auc:0.99728
[170]	train-auc:0.997281
[171]	train-auc:0.997282
[172]	train-auc:0.997283
[173]	train-auc:0.997284
[174]	train-auc:0.997284
[175]	train-auc:0.997285
[176]	train-auc:0.997286
[177]	train-auc:0.997287
[178]	train-auc:0.997287
[179]	train-auc:0.997288
[180]	train-auc:0.997289
[181]	train-auc:0.997289
[182]	train-auc:0.99729
[183]	train-auc:0.997291
[184]	train-auc:0.997291
[185]	train-auc:0.997292
[186]	train-auc:0.997292
[187]	train-auc:0.997293
[188]	train-auc:0.997293
[189]	train-auc:0.997294
[190]	train-auc:0.997294
[191]	train-auc:0.997295
[192]	train-auc:0.997295
[193]	train-auc:0.997296
[194]	train-auc:0.997296
[195]	train-auc:0.997297
[196]	train-auc:0.997297
[197]	train-auc:0.997298
[198]	train-auc:0.997298
[199]	train-auc:0.997298
[200]	train-auc:0.997299
[201]	train-auc:0.997299
[202]	train-auc:0.9973
[203]	train-auc:0.9973
[204]	train-auc:0.9973
[205]	train-auc:0.997301
[206]	train-auc:0.997301
[207]	train-auc:0.997301
[208]	train-auc:0.997302
[209]	train-auc:0.997302
[210]	train-auc:0.997302
[211]	train-auc:0.997303
[212]	train-auc:0.997303
[213]	train-auc:0.997303
[214]	train-auc:0.997303
[215]	train-auc:0.997304
[216]	train-auc:0.997304
[217]	train-auc:0.997304
[218]	train-auc:0.997305
[219]	train-auc:0.997305
[220]	train-auc:0.997305
[221]	train-auc:0.997305
[222]	train-auc:0.997306
[223]	train-auc:0.997306
[224]	train-auc:0.997306
[225]	train-auc:0.997306
[226]	train-auc:0.997307
[227]	train-auc:0.997307
[228]	train-auc:0.997307
[229]	train-auc:0.997307
[230]	train-auc:0.997307
[231]	train-auc:0.997308
[232]	train-auc:0.997308
[233]	train-auc:0.997308
[234]	train-auc:0.997308
[235]	train-auc:0.997308
[236]	train-auc:0.997309
[237]	train-auc:0.997309
[238]	train-auc:0.997309
[239]	train-auc:0.997309
[240]	train-auc:0.997309
[241]	train-auc:0.997309
[242]	train-auc:0.99731
[243]	train-auc:0.99731
[244]	train-auc:0.99731
[245]	train-auc:0.99731
[246]	train-auc:0.99731
[247]	train-auc:0.99731
[248]	train-auc:0.997311
[249]	train-auc:0.997311
[250]	train-auc:0.997311
[251]	train-auc:0.997311
[252]	train-auc:0.997311
[253]	train-auc:0.997311
[254]	train-auc:0.997312
[255]	train-auc:0.997312
[256]	train-auc:0.997312
[257]	train-auc:0.997312
[258]	train-auc:0.997312
[259]	train-auc:0.997312
[260]	train-auc:0.997312
[261]	train-auc:0.997313
[262]	train-auc:0.997313
[263]	train-auc:0.997313
[264]	train-auc:0.997313
[265]	train-auc:0.997313
[266]	train-auc:0.997313
[267]	train-auc:0.997313
[268]	train-auc:0.997313
[269]	train-auc:0.997314
[270]	train-auc:0.997314
[271]	train-auc:0.997314
[272]	train-auc:0.997314
[273]	train-auc:0.997314
[274]	train-auc:0.997314
[275]	train-auc:0.997314
[276]	train-auc:0.997315
[277]	train-auc:0.997315
[278]	train-auc:0.997315
[279]	train-auc:0.997315
[280]	train-auc:0.997315
[281]	train-auc:0.997315
[282]	train-auc:0.997315
[283]	train-auc:0.997315
[284]	train-auc:0.997316
[285]	train-auc:0.997316
[286]	train-auc:0.997316
[287]	train-auc:0.997316
[288]	train-auc:0.997316
[289]	train-auc:0.997316
[290]	train-auc:0.997316
[291]	train-auc:0.997316
[292]	train-auc:0.997316
[293]	train-auc:0.997317
[294]	train-auc:0.997317
[295]	train-auc:0.997317
[296]	train-auc:0.997317
[297]	train-auc:0.997317
[298]	train-auc:0.997317
[299]	train-auc:0.997317

In [42]:
ypred = bst.predict(dtest)
output = pd.DataFrame({ 'activity_id' : test_activity_id, 'outcome': ypred })
output.head()

    activity_id   outcome
0   act1_249281  0.001425
1   act2_230855  0.001529
2   act1_240724  0.999439
3    act1_83552  0.999740
4  act2_1043301  0.999447