In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
def reduce_dimen(dataset,column,toreplace):
    for index,i in dataset[column].duplicated(keep=False).iteritems():
        if i==False:
            dataset.set_value(index,column,toreplace)
    return dataset

In [4]:
def act_data_treatment(dsname):
    dataset = dsname
    
    for col in list(dataset.columns):
        if col not in ['people_id', 'activity_id', 'date', 'char_38', 'outcome']:
            if dataset[col].dtype == 'object':
                dataset[col].fillna('type 0', inplace=True)
                dataset[col] = dataset[col].apply(lambda x: x.split(' ')[1]).astype(np.int32)
            elif dataset[col].dtype == 'bool':
                dataset[col] = dataset[col].astype(np.int8)
    
    dataset['year'] = dataset['date'].dt.year
    dataset['month'] = dataset['date'].dt.month
    dataset['day'] = dataset['date'].dt.day
    dataset['isweekend'] = (dataset['date'].dt.weekday >= 5).astype(int)
    dataset = dataset.drop('date', axis = 1)
    
    return dataset

In [5]:
act_train_data = pd.read_csv("data/act_train.csv",dtype={'people_id': np.str, 'activity_id': np.str, 'outcome': np.int8}, parse_dates=['date'])
act_test_data  = pd.read_csv("data/act_test.csv", dtype={'people_id': np.str, 'activity_id': np.str}, parse_dates=['date'])
people_data    = pd.read_csv("data/people.csv", dtype={'people_id': np.str, 'activity_id': np.str, 'char_38': np.int32}, parse_dates=['date'])

In [6]:
act_train_data = act_train_data.drop('char_10', axis = 1)
act_test_data=act_test_data.drop('char_10',axis=1)

In [7]:
print("Train data shape: " + format(act_train_data.shape))
print("Test data shape: " + format(act_test_data.shape))
print("People data shape: " + format(people_data.shape))

Train data shape: (2197291, 14)
Test data shape: (498687, 13)
People data shape: (189118, 41)

In [8]:
act_train_data  = act_data_treatment(act_train_data)
act_test_data   = act_data_treatment(act_test_data)
people_data = act_data_treatment(people_data)

In [9]:
train = act_train_data.merge(people_data, on='people_id', how='left', left_index=True)
test  = act_test_data.merge(people_data, on='people_id', how='left', left_index=True)

In [10]:
train.columns

Index([u'people_id', u'activity_id', u'activity_category', u'char_1_x',
       u'char_2_x', u'char_3_x', u'char_4_x', u'char_5_x', u'char_6_x',
       u'char_7_x', u'char_8_x', u'char_9_x', u'outcome', u'year_x',
       u'month_x', u'day_x', u'isweekend_x', u'char_1_y', u'group_1',
       u'char_2_y', u'char_3_y', u'char_4_y', u'char_5_y', u'char_6_y',
       u'char_7_y', u'char_8_y', u'char_9_y', u'char_10', u'char_11',
       u'char_12', u'char_13', u'char_14', u'char_15', u'char_16', u'char_17',
       u'char_18', u'char_19', u'char_20', u'char_21', u'char_22', u'char_23',
       u'char_24', u'char_25', u'char_26', u'char_27', u'char_28', u'char_29',
       u'char_30', u'char_31', u'char_32', u'char_33', u'char_34', u'char_35',
       u'char_36', u'char_37', u'char_38', u'year_y', u'month_y', u'day_y',
       u'isweekend_y'],
      dtype='object')

In [11]:
act_test_data.columns

Index([u'people_id', u'activity_id', u'activity_category', u'char_1',
       u'char_2', u'char_3', u'char_4', u'char_5', u'char_6', u'char_7',
       u'char_8', u'char_9', u'year', u'month', u'day', u'isweekend'],
      dtype='object')

In [12]:
del act_train_data
del act_test_data
del people_data

In [13]:
train=train.sort_values(['people_id'], ascending=[1])
test=test.sort_values(['people_id'], ascending=[1])

In [19]:
train.head()

,people_id,activity_id,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_33,char_34,char_35,char_36,char_37,char_38,year_y,month_y,day_y,isweekend_y
0,ppl_100,act2_1734928,4,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
0,ppl_100,act2_2434093,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
0,ppl_100,act2_3404049,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
0,ppl_100,act2_3651215,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
0,ppl_100,act2_4109017,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0

In [14]:
train_columns = train.columns.values
test_columns = test.columns.values
features = list(set(train_columns) & set(test_columns))

In [15]:
train.fillna('NA', inplace=True)
test.fillna('NA', inplace=True)

In [16]:
y = train.outcome
train=train.drop('outcome',axis=1)

In [17]:
whole=pd.concat([train,test],ignore_index=True)

In [21]:
whole.head()

,people_id,activity_id,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_33,char_34,char_35,char_36,char_37,char_38,year_y,month_y,day_y,isweekend_y
0,ppl_100,act2_1734928,4,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
1,ppl_100,act2_2434093,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
2,ppl_100,act2_3404049,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
3,ppl_100,act2_3651215,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
4,ppl_100,act2_4109017,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0

In [22]:
whole=pd.concat([train,test],ignore_index=True)
categorical=['group_1','activity_category','char_1_x','char_2_x','char_3_x','char_4_x','char_5_x','char_6_x','char_7_x','char_8_x','char_9_x','char_2_y','char_3_y','char_4_y','char_5_y','char_6_y','char_7_y','char_8_y','char_9_y']
for category in categorical:
    whole=reduce_dimen(whole,category,9999999)
    
X=whole[:len(train)]
X_test=whole[len(train):]

In [23]:
whole.head()

,people_id,activity_id,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_33,char_34,char_35,char_36,char_37,char_38,year_y,month_y,day_y,isweekend_y
0,ppl_100,act2_1734928,4,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
1,ppl_100,act2_2434093,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
2,ppl_100,act2_3404049,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
3,ppl_100,act2_3651215,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
4,ppl_100,act2_4109017,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0

In [18]:
del train
del whole

In [19]:
X=X.sort_values(['people_id'], ascending=[1])

In [20]:
X = X[features].drop(['people_id', 'activity_id'], axis = 1)
X_test = X_test[features].drop(['people_id', 'activity_id'], axis = 1)

In [21]:
categorical=['group_1','activity_category','char_1_x','char_2_x','char_3_x','char_4_x','char_5_x','char_6_x','char_7_x','char_8_x','char_9_x','char_2_y','char_3_y','char_4_y','char_5_y','char_6_y','char_7_y','char_8_y','char_9_y']
not_categorical=[]
for category in X.columns:
    if category not in categorical:
        not_categorical.append(category)

In [22]:
enc = OneHotEncoder(handle_unknown='ignore')
enc=enc.fit(pd.concat([X[categorical],X_test[categorical]]))

In [23]:
enc

OneHotEncoder(categorical_features='all', dtype=<type 'float'>,
       handle_unknown='ignore', n_values='auto', sparse=True)

In [24]:
X_cat_sparse=enc.transform(X[categorical])
X_test_cat_sparse=enc.transform(X_test[categorical])

In [25]:
from scipy.sparse import hstack
X_sparse=hstack((X[not_categorical], X_cat_sparse))
X_test_sparse=hstack((X_test[not_categorical], X_test_cat_sparse))

In [26]:
print("Training data: " + format(X_sparse.shape))
print("Test data: " + format(X_test_sparse.shape))
print("###########")
print("One Hot enconded Test Dataset Script")

Training data: (2197291, 31271)
Test data: (498687, 31271)
###########
One Hot enconded Test Dataset Script

In [27]:
dtrain = xgb.DMatrix(X_sparse,label=y)
dtest = xgb.DMatrix(X_test_sparse)

In [28]:
param = {'max_depth':10, 'eta':0.02, 'silent':1, 'objective':'binary:logistic' }
param['nthread'] = 4
param['eval_metric'] = 'auc'
param['subsample'] = 0.7
param['colsample_bytree']= 0.7
param['min_child_weight'] = 0
param['booster'] = "gblinear"

In [29]:
watchlist  = [(dtrain,'train')]
num_round = 300
early_stopping_rounds=10
bst = xgb.train(param, dtrain, num_round, watchlist,early_stopping_rounds=early_stopping_rounds)

[0]	train-auc:0.887099
Will train until train-auc hasn't improved in 10 rounds.
[1]	train-auc:0.895149
[2]	train-auc:0.903351
[3]	train-auc:0.911834
[4]	train-auc:0.920202
[5]	train-auc:0.928199
[6]	train-auc:0.935564
[7]	train-auc:0.942332
[8]	train-auc:0.948622
[9]	train-auc:0.954424
[10]	train-auc:0.959765
[11]	train-auc:0.964583
[12]	train-auc:0.968846
[13]	train-auc:0.972557
[14]	train-auc:0.975743
[15]	train-auc:0.978457
[16]	train-auc:0.980763
[17]	train-auc:0.98268
[18]	train-auc:0.984286
[19]	train-auc:0.985632
[20]	train-auc:0.98676
[21]	train-auc:0.987711
[22]	train-auc:0.98852
[23]	train-auc:0.989213
[24]	train-auc:0.989816
[25]	train-auc:0.990348
[26]	train-auc:0.990819
[27]	train-auc:0.99124
[28]	train-auc:0.991622
[29]	train-auc:0.991968
[30]	train-auc:0.992282
[31]	train-auc:0.992571
[32]	train-auc:0.992835
[33]	train-auc:0.993078
[34]	train-auc:0.993303
[35]	train-auc:0.993511
[36]	train-auc:0.993703
[37]	train-auc:0.993884
[38]	train-auc:0.994051
[39]	train-auc:0.994208
[40]	train-auc:0.994354
[41]	train-auc:0.994491
[42]	train-auc:0.994621
[43]	train-auc:0.994742
[44]	train-auc:0.994857
[45]	train-auc:0.994965
[46]	train-auc:0.995068
[47]	train-auc:0.995164
[48]	train-auc:0.995255
[49]	train-auc:0.995342
[50]	train-auc:0.995424
[51]	train-auc:0.995502
[52]	train-auc:0.995575
[53]	train-auc:0.995645
[54]	train-auc:0.995711
[55]	train-auc:0.995774
[56]	train-auc:0.995834
[57]	train-auc:0.995892
[58]	train-auc:0.995946
[59]	train-auc:0.995998
[60]	train-auc:0.996048
[61]	train-auc:0.996095
[62]	train-auc:0.996141
[63]	train-auc:0.996184
[64]	train-auc:0.996225
[65]	train-auc:0.996265
[66]	train-auc:0.996303
[67]	train-auc:0.996339
[68]	train-auc:0.996374
[69]	train-auc:0.996407
[70]	train-auc:0.996439
[71]	train-auc:0.99647
[72]	train-auc:0.996499
[73]	train-auc:0.996527
[74]	train-auc:0.996554
[75]	train-auc:0.99658
[76]	train-auc:0.996605
[77]	train-auc:0.996629
[78]	train-auc:0.996652
[79]	train-auc:0.996674
[80]	train-auc:0.996695
[81]	train-auc:0.996715
[82]	train-auc:0.996735
[83]	train-auc:0.996753
[84]	train-auc:0.996771
[85]	train-auc:0.996788
[86]	train-auc:0.996805
[87]	train-auc:0.99682
[88]	train-auc:0.996835
[89]	train-auc:0.99685
[90]	train-auc:0.996863
[91]	train-auc:0.996877
[92]	train-auc:0.996889
[93]	train-auc:0.996901
[94]	train-auc:0.996913
[95]	train-auc:0.996924
[96]	train-auc:0.996934
[97]	train-auc:0.996945
[98]	train-auc:0.996954
[99]	train-auc:0.996964
[100]	train-auc:0.996973
[101]	train-auc:0.996981
[102]	train-auc:0.996989
[103]	train-auc:0.996997
[104]	train-auc:0.997005
[105]	train-auc:0.997012
[106]	train-auc:0.997019
[107]	train-auc:0.997026
[108]	train-auc:0.997032
[109]	train-auc:0.997038
[110]	train-auc:0.997045
[111]	train-auc:0.99705
[112]	train-auc:0.997056
[113]	train-auc:0.997061
[114]	train-auc:0.997066
[115]	train-auc:0.997072
[116]	train-auc:0.997076
[117]	train-auc:0.997081
[118]	train-auc:0.997086
[119]	train-auc:0.99709
[120]	train-auc:0.997094
[121]	train-auc:0.997098
[122]	train-auc:0.997102
[123]	train-auc:0.997106
[124]	train-auc:0.99711
[125]	train-auc:0.997113
[126]	train-auc:0.997117
[127]	train-auc:0.99712
[128]	train-auc:0.997123
[129]	train-auc:0.997126
[130]	train-auc:0.997129
[131]	train-auc:0.997132
[132]	train-auc:0.997135
[133]	train-auc:0.997138
[134]	train-auc:0.99714
[135]	train-auc:0.997143
[136]	train-auc:0.997145
[137]	train-auc:0.997148
[138]	train-auc:0.99715
[139]	train-auc:0.997152
[140]	train-auc:0.997155
[141]	train-auc:0.997157
[142]	train-auc:0.997159
[143]	train-auc:0.997161
[144]	train-auc:0.997163
[145]	train-auc:0.997165
[146]	train-auc:0.997166
[147]	train-auc:0.997168
[148]	train-auc:0.99717
[149]	train-auc:0.997171
[150]	train-auc:0.997173
[151]	train-auc:0.997175
[152]	train-auc:0.997176
[153]	train-auc:0.997178
[154]	train-auc:0.997179
[155]	train-auc:0.99718
[156]	train-auc:0.997182
[157]	train-auc:0.997183
[158]	train-auc:0.997184
[159]	train-auc:0.997185
[160]	train-auc:0.997187
[161]	train-auc:0.997188
[162]	train-auc:0.997189
[163]	train-auc:0.99719
[164]	train-auc:0.997191
[165]	train-auc:0.997192
[166]	train-auc:0.997193
[167]	train-auc:0.997194
[168]	train-auc:0.997195
[169]	train-auc:0.997196
[170]	train-auc:0.997196
[171]	train-auc:0.997197
[172]	train-auc:0.997198
[173]	train-auc:0.997199
[174]	train-auc:0.9972
[175]	train-auc:0.9972
[176]	train-auc:0.997201
[177]	train-auc:0.997202
[178]	train-auc:0.997202
[179]	train-auc:0.997203
[180]	train-auc:0.997204
[181]	train-auc:0.997204
[182]	train-auc:0.997205
[183]	train-auc:0.997205
[184]	train-auc:0.997206
[185]	train-auc:0.997206
[186]	train-auc:0.997207
[187]	train-auc:0.997207
[188]	train-auc:0.997208
[189]	train-auc:0.997208
[190]	train-auc:0.997209
[191]	train-auc:0.997209
[192]	train-auc:0.99721
[193]	train-auc:0.99721
[194]	train-auc:0.99721
[195]	train-auc:0.997211
[196]	train-auc:0.997211
[197]	train-auc:0.997212
[198]	train-auc:0.997212
[199]	train-auc:0.997212
[200]	train-auc:0.997213
[201]	train-auc:0.997213
[202]	train-auc:0.997213
[203]	train-auc:0.997214
[204]	train-auc:0.997214
[205]	train-auc:0.997214
[206]	train-auc:0.997215
[207]	train-auc:0.997215
[208]	train-auc:0.997215
[209]	train-auc:0.997215
[210]	train-auc:0.997216
[211]	train-auc:0.997216
[212]	train-auc:0.997216
[213]	train-auc:0.997216
[214]	train-auc:0.997217
[215]	train-auc:0.997217
[216]	train-auc:0.997217
[217]	train-auc:0.997217
[218]	train-auc:0.997218
[219]	train-auc:0.997218
[220]	train-auc:0.997218
[221]	train-auc:0.997218
[222]	train-auc:0.997219
[223]	train-auc:0.997219
[224]	train-auc:0.997219
[225]	train-auc:0.997219
[226]	train-auc:0.997219
[227]	train-auc:0.99722
[228]	train-auc:0.99722
[229]	train-auc:0.99722
[230]	train-auc:0.99722
[231]	train-auc:0.99722
[232]	train-auc:0.997221
[233]	train-auc:0.997221
[234]	train-auc:0.997221
[235]	train-auc:0.997221
[236]	train-auc:0.997221
[237]	train-auc:0.997221
[238]	train-auc:0.997222
[239]	train-auc:0.997222
[240]	train-auc:0.997222
[241]	train-auc:0.997222
[242]	train-auc:0.997222
[243]	train-auc:0.997222
[244]	train-auc:0.997223
[245]	train-auc:0.997223
[246]	train-auc:0.997223
[247]	train-auc:0.997223
[248]	train-auc:0.997223
[249]	train-auc:0.997223
[250]	train-auc:0.997223
[251]	train-auc:0.997224
[252]	train-auc:0.997224
[253]	train-auc:0.997224
[254]	train-auc:0.997224
[255]	train-auc:0.997224
[256]	train-auc:0.997224
[257]	train-auc:0.997225
[258]	train-auc:0.997225
[259]	train-auc:0.997225
[260]	train-auc:0.997225
[261]	train-auc:0.997225
[262]	train-auc:0.997225
[263]	train-auc:0.997225
[264]	train-auc:0.997225
[265]	train-auc:0.997226
[266]	train-auc:0.997226
[267]	train-auc:0.997226
[268]	train-auc:0.997226
[269]	train-auc:0.997226
[270]	train-auc:0.997226
[271]	train-auc:0.997226
[272]	train-auc:0.997226
[273]	train-auc:0.997227
[274]	train-auc:0.997227
[275]	train-auc:0.997227
[276]	train-auc:0.997227
[277]	train-auc:0.997227
[278]	train-auc:0.997227
[279]	train-auc:0.997227
[280]	train-auc:0.997227
[281]	train-auc:0.997227
[282]	train-auc:0.997228
[283]	train-auc:0.997228
[284]	train-auc:0.997228
[285]	train-auc:0.997228
[286]	train-auc:0.997228
[287]	train-auc:0.997228
[288]	train-auc:0.997228
[289]	train-auc:0.997228
[290]	train-auc:0.997228
[291]	train-auc:0.997229
[292]	train-auc:0.997229
[293]	train-auc:0.997229
[294]	train-auc:0.997229
[295]	train-auc:0.997229
[296]	train-auc:0.997229
[297]	train-auc:0.997229
[298]	train-auc:0.997229
[299]	train-auc:0.997229

In [30]:
ypred = bst.predict(dtest)
output = pd.DataFrame({ 'activity_id' : test['activity_id'], 'outcome': ypred })
output.head()
output.to_csv('without_leak.csv', index = False)

In [31]:
output.head()

   activity_id   outcome
3  act1_249281  0.001523
3  act2_230855  0.001628
5  act2_688604  0.999501
5  act2_659237  0.999497
5  act2_649143  0.999490